numpy>=1.25.0,<2.0
comfyui-frontend-package==1.26.13
anyio~=4.4
torch>=2.0.0
torchvision>=0.15.0
torchaudio>=2.0.0
einops
transformers
safetensors
soundfile
scipy
Pillow
aiohttp
torchsde
tokenizers>=0.13.3
sentencepiece
yarl>=1.18.0
pyyaml
tqdm
psutil
opencv-python
imageio-ffmpeg
kornia
spandrel
moviepy
av>=14.2.0
mss
librosa
pyloudnorm
diffusers>=0.33.0
peft>=0.17.0
huggingface_hub
hf_transfer>=0.1.9
gguf>=0.14.0
color-matcher
comfy-cli
ftfy
matplotlib
nltk~=3.9
packaging
protobuf
pycryptodome~=3.20
Requests~=2.32
sageattention
alembic
SQLAlchemy
EOF