comfyui-frontend-package==1.26.13

anyio~=4.4
color-matcher
comfy-cli
diffusers>=0.33.0
ftfy
gguf>=0.14.0
hf_transfer>=0.1.9
huggingface_hub
imageio-ffmpeg
librosa
matplotlib
moviepy
mss
nltk~=3.9
packaging
peft>=0.17.0
pyloudnorm
protobuf
pycryptodome~=3.20
Requests~=2.32
sageattention
torch>=2.0.0
torchvision>=0.15.0
torchaudio>=2.0.0
einops
transformers
safetensors
kornia
spandrel
soundfile
scipy
Pillow
aiohttp
torchsde
numpy>=1.25.0
tokenizers>=0.13.3
sentencepiece
yarl>=1.18.0
pyyaml
tqdm
psutil
alembic
SQLAlchemy
av>=14.2.0
opencv-python