aiohttp[speedups]==3.10.1
anyio~=4.4
av
color-matcher
comfy-cli
diffusers>=0.33.0
einops
ftfy
gguf>=0.14.0
hf_transfer>=0.1.9
huggingface_hub
imageio-ffmpeg
lib~=4.0
librosa
matplotlib
moviepy
mss
numpy==1.26.4
nltk~=3.9
packaging
peft>=0.17.0
pillow==11.3.0
pyloudnorm
protobuf
psutil~=6.0
pycryptodome~=3.20
Requests~=2.32
sageattention
scipy
sentencepiece>=0.2.0
transformers~=4.52
utils==1.0.*